<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browserName" value="chrome"></parameter>

    <listeners>
        <listener class-name="common.utilities.listeners.TestListener"/>
        <listener class-name="common.utilities.listeners.AnnotationTransformer"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/SATTDN21.02.01/IdeaProjects/Railway testing/src/main/java/testCases/Railway/LoginTest.java">
        <classes>
            <class name="testCases.Railway.LoginTest">
                <methods>
                    <include name="TC01"/>
                    <include name="TC02"/>
                    <include name="TC03"/>
                    <include name="TC05"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>